/*
 * CSS customizations
 *
 * this file is included after all other stye sheet files
 * you can add rules here that will take precedence over any already defined by the theme
 */

/** サイドバーの幅を20remに **/
.ui.vertical.menu{ width:20rem }
.ui.input{ max-width:15rem;margin-left:auto;margin-right:auto }
.pusher #page-container{ margin-left: 20rem }

/** 題目と成る文字の色，背景色，余白の調整 **/
h1, h2, h3, h4, h5 {
    color: #212121;
    background-color: #E6E6E6;
    padding: 0.5rem 0rem;
    margin-bottom: 0.5rem;
}

p {
    line-height: 1rem;
}

/** 表の体裁 **/
table {
    border-collapse: collapse;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
thead { 
    border: solid;
    border-width: 1px 0;
}
td { padding: 5px; }
th { padding: 5px; }
